# Cleaning some data

In [12]:
import numpy as np 
import pandas as pd

In [13]:
d = {'a':[1,2,np.nan],'b':[5, np.nan,np.nan],'c':[1,2,3]}

In [14]:
df = pd.DataFrame(d)

In [15]:
df

     a    b  c
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [16]:
df.dropna() ## You can specify the axis to do this columns or rows

     a    b  c
0  1.0  5.0  1

In [17]:
df.dropna(thresh = 2)

     a    b  c
0  1.0  5.0  1
1  2.0  NaN  2

In [18]:
df.fillna(value = 'FILL')

      a     b  c
0     1     5  1
1     2  FILL  2
2  FILL  FILL  3

In [19]:
df['a'].fillna(value = df['a'].mean()) 
# how till fill in values with the mean

0    1.0
1    2.0
2    1.5
Name: a, dtype: float64