In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [5]:
df = pd.DataFrame(randn(5,4), ['a','b','c','d','e'],['w','x','y','z'])
## Generrating a data frame with random information 
## Abcd is the y lables wxyz is the x coordinates
## each column is a pandas series

In [6]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [7]:
df['w']
## returns the w  column (series)

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [8]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.w
# not great syntax

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [17]:
df['new'] = df['w'] + 55

In [18]:
df

          w         x         y         z        new
a  2.706850  0.628133  0.907969  0.503826  57.706850
b  0.651118 -0.319318 -0.848077  0.605965  55.651118
c -2.018168  0.740122  0.528813 -0.589001  52.981832
d  0.188695 -0.758872 -0.933237  0.955057  55.188695
e  0.190794  1.978757  2.605967  0.683509  55.190794

In [19]:
df.drop('new', axis=1,inplace= True)
# if you are refering to the x axis you need to change the axis to 1 
# the default is axis = 0 which is the rows.

In [20]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [21]:
df.drop('e')

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [22]:
df.shape

(5, 4)

In [23]:
 df[['x','z']]

          x         z
a  0.628133  0.503826
b -0.319318  0.605965
c  0.740122 -0.589001
d -0.758872  0.955057
e  1.978757  0.683509

In [24]:
df.loc['a']
# how to pull a row from a data frame

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [28]:
df.iloc[0]
# pull row by index location

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [29]:
# row , column data 
df.loc['a','x']

0.62813270878445959

In [30]:
df.loc[['b', 'a'], ['w','y']]
# select a subset from data frame

          w         y
b  0.651118 -0.848077
a  2.706850  0.907969

In [31]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [35]:
booldf = df > 0 
# conditional statements 
df > 0

       w      x      y      z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False   True
e   True   True   True   True

In [34]:
df[booldf]
# we can see the places where it was true

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118       NaN       NaN  0.605965
c       NaN  0.740122  0.528813       NaN
d  0.188695       NaN       NaN  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [39]:
df[['x','y']] > 0

       x      y
a   True   True
b  False  False
c   True   True
d  False  False
e   True   True

In [45]:
df[df[['x','y']] > 0 ]

    w         x         y   z
a NaN  0.628133  0.907969 NaN
b NaN       NaN       NaN NaN
c NaN  0.740122  0.528813 NaN
d NaN       NaN       NaN NaN
e NaN  1.978757  2.605967 NaN

In [46]:
df[(df['w']>0) & (df['y']>1)]

          w         x         y         z
e  0.190794  1.978757  2.605967  0.683509

In [47]:
 df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [49]:
df.reset_index()

  index         w         x         y         z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057
4     e  0.190794  1.978757  2.605967  0.683509

In [51]:
newind = 'CA NY WY OR CO'.split()

In [52]:
newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [53]:
df['States'] = newind

In [54]:
df

          w         x         y         z States
a  2.706850  0.628133  0.907969  0.503826     CA
b  0.651118 -0.319318 -0.848077  0.605965     NY
c -2.018168  0.740122  0.528813 -0.589001     WY
d  0.188695 -0.758872 -0.933237  0.955057     OR
e  0.190794  1.978757  2.605967  0.683509     CO

In [55]:
df.set_index('States')
# need to do inplace = True to save information

               w         x         y         z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

# Pandas Data Frames part 3 tutorial

In [56]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [62]:
df = pd.DataFrame(randn(6,2),hier_index,['a','b'])

In [63]:
df

             a         b
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [65]:
df.index.names = ['groups', 'nums']

In [66]:
df

                    a         b
groups nums
G1     1     0.302665  1.693723
       2    -1.706086 -1.159119
       3    -0.134841  0.390528
G2     1     0.166905  0.184502
       2     0.807706  0.072960
       3     0.638787  0.329646

In [67]:
df.loc['G2'].loc[2]['b']
# how we select a particular value

0.072959675317038689

In [72]:
df.xs(1,level='nums')

               a         b
groups
G1      0.302665  1.693723
G2      0.166905  0.184502